<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Booking Management System</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <h1>Booking Management System</h1>
    <hr>
    <h2>Update Booking</h2>

    <form action="#" th:action="@{/saveBooking}" th:object="${booking}" method="POST">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}" />

        <label>Phone Number: </label><input type="text" th:field="*{phoneNumber}" placeholder="phoneNumber" class="form-control mb-4 col-4">

        <label>Guest Name: </label><input type="text" th:field="*{guestName}" placeholder="guestName" class="form-control mb-4 col-4">

        <label>Begin Date: </label><input type="datetime-local" th:field="*{begin_date}" placeholder="begin_date" class="form-control mb-4 col-4">

        <label>End Date: </label><input type="datetime-local" th:field="*{end_date}" placeholder="end_date" class="form-control mb-4 col-4">

        <label>State: </label><input type="text" th:field="*{state}" placeholder="state" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2"> Update Booking</button>
    </form>

    <hr>

    <a th:href="@{/}"> Back to Booking List</a>
</div>
</body>

</html>

